body {
    padding: 0;
    margin: 2;
    background-color: #edf2f2;
    background-image: url("logo_imc.png");
    background-attachment: scroll;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 250px;    
	-webkit-padding: 0;
    -webkit-margin: 2;
    -webkit-background-color: #edf2f2;
    -webkit-background-image: url("logo_imc.png");
    -webkit-background-attachment: scroll;
    -webkit-background-position: left bottom;
    -webkit-background-repeat: no-repeat;
    -webkit-background-size: 250px;   
	-moz-padding: 0;
    -moz-margin: 2;
    -moz-background-color: #edf2f2;
    -moz-background-image: url("logo_imc.png");
    -moz-background-attachment: scroll;
    -moz-background-position: left bottom;
    -moz-background-repeat: no-repeat;
    -moz-background-size: 250px;   
}

main {
  margin: 20px 0;
  padding: 10px;
}

.calcular{
    margin-left: 65;
    margin-top: 15;
    background-color: #faebd7;
    border-bottom-color: #f5f5dc;
    -webkit-box-shadow: 0 0 7px #B7B3B3;
    border-radius: 5px;
    box-shadow: 0 0 7px #B7B3B3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
bold;
bold;
    color: #696969;
}

.corpo {
    margin: 0 auto;
    width: 250px;
    padding: 10px;



h1 {
    font-family: Garamond, "Times New Roman";
    font-size: 25px;
    font-style: bold;
    position: absolute;
    position: fixed;
}
form div #pesoid {
}
form div #pesoid {
}
form div #pesoid {
}
form div #pesoid {
}
