body {
    padding: 0;
    margin: 2;
    background-color: #edf2f2;
}

main {
  margin: 20px 0;
  padding: 10px;
}

.calcular{
       margin-left: 65;
	margin-top: 15;
}

.corpo {
    margin: 0 auto;
    width: 250px;
    padding: 10px;



h1 {
    font-family: Garamond, "Times New Roman";
    font-size: 25px;
    font-style: bold;
    position: absolute;
    position: fixed;
}
	
	.logo {
    position:fixed;
    bottom:0px;
    left:0%;
}
